.btn-link, .checkbox label, .checkbox-inline, .radio label, .radio-inline, label {
    font-weight: bold;
}

.form-control, .table {
    color: #0f0f0f;
}

.bs-space {
    display: flex;
    flex-wrap: wrap;
}

.nav-bt {
    background-color: white;
}

.ck-box {
    position: absolute;
    margin-left: 10px;
}