.btn-link, .checkbox label, .checkbox-inline, .radio label, .radio-inline, label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #4c4c4c !important;
}

.form-control, .table {
    color: #0f0f0f;
}

.bs-space {
    display: flex;
    flex-wrap: wrap;
}

.nav-bt {
    background-color: white;
}

.ck-box {
    position: absolute;
    margin-left: 10px;
}

.form-validation {
    color: #962424;
    font-size: 0.8em; 
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actions div input {
    font-size: 12px;
}

.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
  }